
*.xcuserstate
Weather-MVVM.xcodeproj/project.xcworkspace/xcuserdata/imran.xcuserdatad/UserInterfaceState.xcuserstate
Weather-MVVM.xcodeproj/project.xcworkspace/xcuserdata/imran.xcuserdatad/UserInterfaceState.xcuserstate
